.ConfigurePage {
    height: 1000px;
   
}
.ConfigurePage .NavBarContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 250px;
    margin-left: 30px;
    padding-top: 45px;
}
.ConfigurePage .App{
    height: 800px;
    background-color: var(--greyBackground);
}
.ConfigurePage .App iframe{
    border: none;
}
.ConfigurePage .NavBarContent .NavBarLeft{
    margin-top: 30px;
}

.ConfigurePage .NavBarContent .NavBarRight .NavBarSubheading{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30px;
    align-items: center;
    margin-top: 0px; 
}
.ConfigurePage .NavBarContent .NavBarRight .NavBarSubheading {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ConfigurePage .NavBarContent .NavBarRight .NavBarSubheading span{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:black;
}

.ConfigurePage .NavBarContent .NavBarRight .NavBarSubheading  p{
    margin: 0px 8px;
    font-size: 15px;
    color: var(--text-gray);
    font-family: 'Montserrat', sans-serif;
    
}

.ConfigurePage .NavBarContent .NavBarRight{
    display: flex;
    margin-top:0px;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}


.ConfigurePage .NavBarContent .NavBarRight .NextStep{
    display: flex;
    align-self: flex-end;
    position: absolute;
    right: 30px;
    top: 160px;
    text-decoration: none;
    padding: 12px 14px;
    background-color: var(--borderBlue);
    border-radius: 4px;
    margin: 1rem 0;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    align-items: center;
    box-shadow: var(--shadow-button);
    cursor: pointer;
    transition: var(--outline-transition);
    font-family: 'Poppins', sans-serif;
    }
    
    .ConfigurePage .NavBarContent .NavBarRight .NextStep .NextIcon{
        font-size: 14px;
        margin-left: 8px;
    }
    
    .ConfigurePage .NavBarContent .NavBarRight .NextStep:focus{
        outline: solid 4px var(--borderLight);
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1200px;
        justify-content: center;
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .OptionLeft{
        display: flex;
        flex-direction: row;
        width: 320px;
        justify-content: space-between;
        margin:10px 50px;
    }
    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .OptionLeft .OptionName{
        display: flex;
        flex-direction: row;
        width: fit-content;
        align-items: center;
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .OptionLeft .OptionName span{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin-right: 7px;
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .OptionLeft .OptionName .InfoIcon {
        color: var(--icon-gray);
        align-items: center;
       
        
    }
    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .OptionLeft .ColorOptions .White{
        height: 25px;
        width: 25px;
        border-radius: 25px;
        margin-left: 15px;
        border:solid 0.5px var(--blue-mode);
        background-color: white;
        cursor:pointer;
        transition: outline .2s ease;
        transition-property: outline;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .OptionLeft .ColorOptions .White:focus{
        outline: solid 4px var(--outline-color);
        border:solid 1px var(--outline-color);
        
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .OptionLeft .ColorOptions .Blue{
        height: 25px;
        width: 25px;
        border-radius: 25px;
        margin-left: 15px;
        border:solid 0.5px var(--blue-mode);
        background-color: var(--blue-mode);
        cursor:pointer;
        transition: outline .2s ease;
        transition-property: outline;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .OptionLeft .ColorOptions .Blue:focus{
        outline: solid 4px var(--outline-color);
        border:solid 1px var(--outline-color);
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .Option{
        display: flex;
        flex-direction: row;
        width: 230px;
        justify-content: space-between;
        margin:10px 50px;
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard  .Option .OptionName{
        display: flex;
        flex-direction: row;
        width: fit-content;
        align-items: center;
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .Option .OptionName span{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin-right: 7px;
    }

    .ConfigurePage .NavBarContent .NavBarRight .OptionsDashboard .Option .OptionName .InfoIcon {
        color: var(--icon-gray);
        align-items: center;
       
        
    }
    .ConfigurePage .NavBarContent .NavBarRight .NavBarSubheading .BackLink {
        display: flex;
        flex-direction: row;
    }
    .ConfigurePage .NavBarContent .NavBarRight .NavBarSubheading .BackLink .BackNone{
        position:absolute;
        left: 0px;
        top: 0px;
        cursor: pointer;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        width: 250px;
    }

    .ConfigurePage .NavBarContent .NavBarRight .NavBarSubheading .BackLink .BackText{
        background-color: white;
        position:absolute;
        left: 0px;
        top: 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color:black;
        width: 250px;
        transition: 0.2s;
        opacity: 100%;
        cursor: pointer;
    }
    .LeftArrow{
        position: absolute;
        left: 10px;
        top: 140px;
    }