
.SelectPage {
    height: 1000px;
   
}
.SelectPage .NavBarContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 220px;
    padding-top: 45px;
}
.SelectPage .NavBarContent .NavBarLeft{
    margin-top: 18px;
}
.SelectPage .NavBarContent .NavBarLeft .NavBarTitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 13px;
}
.SelectPage .NavBarContent .NavBarRight .NavBarSubheading{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30px;
    align-items: center;
    margin-top: 0px; 
    
}

.SelectPage .NavBarContent .NavBarRight .NavBarSubheading span{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.SelectPage .NavBarContent .NavBarRight .NavBarSubheading p{
    margin: 0px 8px;
    font-size: 12px;
    color: var(--text-gray);
    font-family: 'Montserrat', sans-serif;
    
}
.SelectPage .App{
    height: 800px;
}
.SelectPage .App iframe{
    border: none;
}
.SelectPage .NavBarContent .NavBarRight{
    display: flex;
    margin-top:0px;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    /* align-items: stretch; */
}
.SelectPage .NavBarContent .NavBarRight .SelectButton{
    display: flex;
    flex-direction: row;
    width: 310px;
    height: 65px;
    background-color: white;
    border: solid 1px var(--borderButtons1);
    border-radius: 7px;
    margin: 5px;
    transition-delay: 50ms;
    /* transition-duration: 0.1s; */
    /* transition:0.2s; */
    cursor: pointer;
   

}
.SelectPage .NavBarContent .NavBarRight .SelectButton .Text{
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    align-self: center;
    
}
.SelectPage .NavBarContent .NavBarRight .SelectButton h3{
    font-weight: 200;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4px;
    margin-top: 4px;
    color: var(--textDefault);
    text-align: left;
}

.SelectPage .NavBarContent .NavBarRight .SelectButton p{
    font-weight: 200;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    color: var(--textGrey);
    text-align: left;
}

.SelectPage .NavBarContent .NavBarRight .SelectButton .Icon{
    position: relative;
    top: 5px;
    margin: 5px;
    color: var(--textGrey);
    font-size: 14px;
   
 }
 .SelectPage .NavBarContent .NavBarRight .Selected{
    border: solid 2px var(--borderBlue);
    outline: solid 3px var(--borderLight);
    display: flex;
    flex-direction: row;
    width: 310px;
    height: 65px;
    background-color: white;
    border-radius: 7px;
    margin: 3px;
    /* transition-delay: 250ms; */
    transition-duration: 0.1s;
    transition:0.2s;
    cursor: pointer;

    
 }
 .SelectPage .NavBarContent .NavBarRight .Selected .Text{
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    align-self: center;
    
}
.SelectPage .NavBarContent .NavBarRight .Selected h3{
    font-weight: 200;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4px;
    margin-top: 4px;
    color: var(--textDefault);
    text-align: left;
}

.SelectPage .NavBarContent .NavBarRight .Selected p{
    font-weight: 200;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    color: var(--textGrey);
    text-align: left;
}


 .SelectPage .NavBarContent .NavBarRight .Selected .Icon{
    position: relative;
    top: 5px;
    margin: 5px;
    font-size: 14px;
    color: var(--borderBlue)
 }

.SelectPage .NavBarContent .NavBarLeft{
    margin-left:30px;
}
.SelectPage .App{
    background-color: var(--greyBackground);
}

.SelectPage .NavBarContent .NavBarRight .NextStep{
display: flex;
align-self: flex-end;
position: absolute;
right: 30px;
text-decoration: none;
padding: 6px 10px;
background-color: var(--borderBlue);
border-radius: 4px;
margin: 1rem 0;
border: none;
color: #fff;
font-size: 14px;
font-weight: bold;
line-height: 24px;
align-items: center;
box-shadow: var(--shadow-button);
cursor: pointer;
transition: var(--outline-transition);
font-family: 'Poppins', sans-serif;
}

.SelectPage .NavBarContent .NavBarRight .NextStep .NextIcon{
    font-size: 12px;
    margin-left: 8px;
}

.SelectPage .NavBarContent .NavBarRight .NextStep:focus{
    outline: solid 2px var(--borderLight);
}

.SelectPage .NavBarContent .NavBarRight .disabled {
    pointer-events: none;
    cursor:none;
    display: flex;
    align-self: flex-end;
    position: absolute;
    right: 30px;
    text-decoration: none;
    padding: 6px 10px;
    background-color: var(--borderBlue);
    border-radius: 4px;
    margin: 1rem 0;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    align-items: center;
    box-shadow: var(--shadow-button);
    cursor: pointer;
    transition: var(--outline-transition);
    font-family: 'Poppins', sans-serif;
  }
  .SelectPage .NavBarContent .NavBarRight .disabled .NextIcon{
    font-size: 12px;
    margin-left: 8px;
}