.ConfigureCheckout{

    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    background-color: var(--greyBackground);
}


.ConfigureCheckout .Content{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 960px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(153, 153, 153, 0.856);
    background-color: white;
}

.ConfigureCheckout .Content .Bar{
    width: 100%;
    height: 45px;
    box-shadow: 0 0.5px 0 #e6e9ec;
    border-top-right-radius: 10px;
    background: #fcfeff;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.ConfigureCheckout .Content .Bar .ChromeBar{
    display: flex;
    width: 830px;
    height: 25px;
    background: rgba(236,242,247,.4);
    box-shadow: 0 0.5px 0 #ecf2f7;
    border-radius: 8px;
    font-weight: 600;
    font-size: 10px;
    color: #0a2540;
    justify-content: center;
    margin-right: 20px;
    align-items: center;

}

.ConfigureCheckout .Content .Bar .ChromeButtons{
    height: 45px;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
.ConfigureCheckout .Content .Bar .ChromeButtons .FakeChromeButton{
    display:flex;
    background-color:rgba(227, 232, 236, 0.534);
    width: 10px;
    height: 10px;
    align-self: center;
    margin: 0px 4px;
    border-radius: 10px;

}
.ConfigureCheckout .Content .Checkout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.ConfigureCheckout .Content .Checkout .LightLeft{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: white;
    color: black
}

.ConfigureCheckout .Content .Checkout .DarkLeft{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: var(--blue-mode);
    color: var(--white-blue-mode)
}


.ConfigureCheckout .Content .Checkout .Right{
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    box-shadow: -5px 0px  15px  rgba(145, 144, 144, 0.18);
    padding-bottom: 40px;
}