@media screen and (min-width: 768px){
.ConfigureCheckout{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--greyBackground);
}

.ConfigureCheckout .Content{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    
}

.ConfigureCheckout .Content .Errors{
    color: rgb(211, 9, 9);
    font-size: 14px;
    font-weight: 500;
    
}
.ConfigureCheckout .Content .ResponsiveHeader{
    display: none;
}

.ConfigureCheckout .Content .ResponsiveFooter{
    display: none;
}
.ConfigureCheckout .Content .Bar{
    width: 100%;
    height: 35px;
    box-shadow: 0 0.5px 0 #e6e9ec;
    border-top-right-radius: 10px;
    background: #fcfeff;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.ConfigureCheckout .Content .Bar .ChromeBar{
    display: flex;
    width: 1100px;
    height: 18px;
    background: rgba(236,242,247,.4);
    box-shadow: 0 0.5px 0 #ecf2f7;
    border-radius: 8px;
    font-weight: 600;
    font-size: 10px;
    color: #0a2540;
    justify-content: center;
    margin-right: 20px;
    align-items: center;

}
.ConfigureCheckout .Content .Bar .ChromeBar .LockedIcon{
    color: rgb(110, 110, 116);
    
}

.ConfigureCheckout .Content .Bar .ChromeButtons{
    height: 35px;
    display: flex;
    flex-direction: row;
    margin-left: 7px;
}
.ConfigureCheckout .Content .Bar .ChromeButtons .FakeChromeButton{
    display:flex;
    background-color:rgba(227, 232, 236, 0.582);
    width: 8px;
    height: 8px;
    align-self: center;
    margin: 0px 3px;
    border-radius: 10px;

}
.ConfigureCheckout .Content .Checkout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 800px;

}



.ConfigureCheckout .Content .Checkout .LightLeft{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 400px;
    min-height: 700px;
    background-color: white;
    color: black;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.ConfigureCheckout .Content .Checkout .LightLeft .Logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 25px;
    width: 400px;

}
.ConfigureCheckout .Content .Checkout .LightLeft .Logo .BrandIcon{
    background-color: rgb(51, 42, 190);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    padding: 0px 8px;


}
.ConfigureCheckout .Content .Checkout .LightLeft .Logo .LeftArrow{
    font-size: 15px;
    color: grey;
    width: 8px;
    position: absolute;
    top: 90px;
    left: 70px;
}

.ConfigureCheckout .Content .Checkout .LightLeft .Logo span{
    margin-left:6px;
    margin-right: 6px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: fit-content;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Logo p{
    background-color: rgb(255, 211, 130);
    color: rgb(182, 71, 31);
    font-size: 11px;
    font-weight: bold;
    width: fit-content;
    padding: 1px 4px;
    letter-spacing: 1px;
    border-radius: 2px;

}

.ConfigureCheckout .Content .Checkout .LightLeft .BigItems{
    display: none;
}

.ConfigureCheckout .Content .Checkout .DarkLeft .BigItems{
    display: none;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Price{
    display: flex;
    flex-direction: column;
}  
.ConfigureCheckout .Content .Checkout .LightLeft .Price .GrayTemplate{
    margin-top: 25px;
    font-size: 15px;
    color: grey;
    font-weight: 500;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Price span{
    font-size: 38px;
    margin-bottom: 25px;
    font-weight: 500;
}

.ConfigureCheckout .Content .Checkout .LightLeft .Detail{
    width: 100%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Detail .DetailTemplate{
    display: flex;
    flex-direction: row;
    height: 42px;
    width: 100%;
    margin-bottom: 15px;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Detail .DetailTemplate .Image{
    background-color: rgb(182, 216, 216);
    height: 100%;
    width: 42px;
    border-radius: 5px;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Detail .DetailTemplate .Middle{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
    width: 200px;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Detail .DetailTemplate .Middle .GrayTemplateTop{
    color: black;
    font-size: 14px;
    font-weight: 500;
    
}
.ConfigureCheckout .Content .Checkout .LightLeft .Detail .DetailTemplate .Middle .GrayTemplateBottom{
    color: grey;
    font-size: 14px;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Detail .DetailTemplate .RightTemplate{
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-left: 80px;
    
}
.ConfigureCheckout .Content .Checkout .LightLeft .CouponsTop{
    border-bottom: solid 1px var(--placeholder);
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 15px;
    align-items: center;
}

.ConfigureCheckout .Content .Checkout .LightLeft .CouponsTopHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsTopHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .LightLeft .CouponsTop .GrayTemplate{
    color: black;
    font-size: 14px;
    font-weight: 500;
}
.ConfigureCheckout .Content .Checkout .LightLeft .CouponsBottom{
    border-top: solid 1px var(--placeholder);
    width: 320px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;
    align-items: center;
     padding-top: 15px;
}

.ConfigureCheckout .Content .Checkout .LightLeft .CouponsBottomHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsBottomHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .LightLeft .CouponsBottom .GrayTemplate{
    color: black;
    font-size: 14px;
    font-weight: 500;
    }
.ConfigureCheckout .Content .Checkout .LightLeft .CouponsButton{
    width: fit-content;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 10px;
    border:none;
    color: rgb(39, 116, 216);
    cursor: pointer
  
}

.ConfigureCheckout .Content .Checkout .LightLeft  .CouponsButtonHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft  .CouponsButtonHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Shipping{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    font-size: 12px;
    margin-left: 50px;
    color: rgb(121, 120, 120);
    margin-top: 12px;
    margin-bottom: 0px;
    
}
.ConfigureCheckout .Content .Checkout .LightLeft .ShippingHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .ShippingHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Shipping .ShippingDetails{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Shipping .ShippingDetails span{
    margin: 0px;
    font-size: 14px;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Shipping .ShippingDetails p{
    margin: 0px;
    font-size: 12px;
}

.ConfigureCheckout .Content .Checkout .LightLeft .Footer{
    display: flex;
    flex-direction: row;
    width: 210px;
    color: var(--placeholder);
    font-size: 12px;
    align-items: center;
    margin-top:auto;
    color: grey;
    justify-content: space-around;
    cursor: pointer;
}
.ConfigureCheckout .Content .Checkout .LightLeft .Footer .Stripe{
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    color:rgb(165, 164, 163)
}



.ConfigureCheckout .Content .Checkout .DarkLeft{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 400px;
    min-height: 700px;
    background-color: var(--blue-mode);
    color: var(--white-blue-mode);
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.ConfigureCheckout .Content .Checkout .DarkLeft .Logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 25px;
    width: 400px;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Logo .BrandIcon{
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    padding: 0px 8px;
    justify-content: center;

}
.ConfigureCheckout .Content .Checkout .DarkLeft .Logo .LeftArrow{
    font-size: 15px;
    color: grey;
    width: 8px;
    position: absolute;
    top: 90px;
    left: 70px;
}

.ConfigureCheckout .Content .Checkout .DarkLeft .Logo span{
    margin-left:6px;
    margin-right: 6px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: fit-content;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Logo p{
    background-color: rgb(255, 211, 130);
    color: rgb(182, 71, 31);
    font-size: 11px;
    font-weight: bold;
    width: fit-content;
    padding: 1px 4px;
    letter-spacing: 1px;
    border-radius: 2px;

}
.ConfigureCheckout .Content .Checkout .DarkLeft .Price{
    display: flex;
    flex-direction: column;
}  
.ConfigureCheckout .Content .Checkout .DarkLeft .Price .GrayTemplate{
    margin-top: 25px;
    font-size: 15px;
    color: rgb(175, 174, 174);
    font-weight: 500;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Price span{
    font-size: 38px;
    margin-bottom: 25px;
    font-weight: 500;
}

.ConfigureCheckout .Content .Checkout .DarkLeft .Detail{
    width: 100%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Detail .DetailTemplate{
    display: flex;
    flex-direction: row;
    height: 42px;
    width: 100%;
    margin-bottom: 15px;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Detail .DetailTemplate .Image{
    background-color: rgb(182, 216, 216);
    height: 100%;
    width: 42px;
    border-radius: 5px;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Detail .DetailTemplate .Middle{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
    width: 200px;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Detail .DetailTemplate .Middle .GrayTemplateTop{
    color: white;
    font-size: 14px;
    font-weight: 500;
    
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Detail .DetailTemplate .Middle .GrayTemplateBottom{
    color: grey;
    font-size: 14px;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Detail .DetailTemplate .RightTemplate{
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-left: 80px;
    
}
.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsTop{
    border-bottom: solid 1px var(--dark-placeholder);
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 15px;
    align-items: center;
}

.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsTopHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsTopHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsTop .GrayTemplate{
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsBottom{
    border-top: solid 1px var(--dark-placeholder);
    width: 320px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;
    align-items: center;
     padding-top: 15px;
}

.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsBottomHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsBottomHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsBottom .GrayTemplate{
    color: white;
    font-size: 14px;
    font-weight: 500;
    }
.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsButton{
    width: fit-content;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 10px;
    border:none;
    color: white;
    background-color: rgba(255, 255, 255, 0.048);
    cursor: pointer;
    border-radius: 5px;
  
}
.ConfigureCheckout .Content .Checkout .DarkLeft .CouponsButton:hover{
    background-color: rgba(255, 255, 255, 0.11);
}

.ConfigureCheckout .Content .Checkout .DarkLeft  .CouponsButtonHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft  .CouponsButtonHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Shipping{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    font-size: 12px;
    margin-left: 50px;
    color: rgb(121, 120, 120);
    margin-top: 12px;
    margin-bottom: 0px;
    
}
.ConfigureCheckout .Content .Checkout .DarkLeft .ShippingHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .ShippingHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Shipping .ShippingDetails{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Shipping .ShippingDetails span{
    margin: 0px;
    font-size: 14px;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Shipping .ShippingDetails p{
    margin: 0px;
    font-size: 12px;
}

.ConfigureCheckout .Content .Checkout .DarkLeft .Footer{
    display: flex;
    flex-direction: row;
    width: 210px;
    color: var(--dark-placeholder);
    font-size: 12px;
    align-items: center;
    margin-top:auto;
    color: grey;
    justify-content: space-around;
    cursor: pointer;
}
.ConfigureCheckout .Content .Checkout .DarkLeft .Footer .Stripe{
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    color:rgb(165, 164, 163)
}

















.ConfigureCheckout .Content .Checkout .Right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    min-width: 400px;
    box-shadow: -5px 0px  15px  rgba(145, 144, 144, 0.18);
   
    
}

.ConfigureCheckout .Content .Checkout .Right .Content {
    width: 360px;
    align-self: center;
    box-shadow: none;
    height: 90%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateOne{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color:black;
    color: var(--white-blue-mode);
    margin-bottom: 15px;
    margin-top: 30px;
    cursor: pointer;
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
     padding-bottom: 4px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateTwo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateTwo .Line{
    width: 30%;
    background-color: var(--placeholder);
    height: 2px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateTwo .Middle{
    width: 30%;
    font-size: 14px;
    color: gray;
    margin:4px 0px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateMiddle{
    color: black;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 10px;
    
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateMiddleHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateThree{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateThree .Top{
    margin:4px 0px;
    color: rgb(31, 30, 30);
    font-size: 14px;

}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateThree .Bottom{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin: 4px 0px;
    border: solid 0.5px rgb(201, 200, 200);
     padding: 7px 10px;
    }

    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateThree .ErrorInput{
        width: 100%;
        height: 35px;
        border-radius: 5px;
        margin: 4px 0px;
        border: solid 0.5px rgb(189, 4, 4);
        padding: 7px 10px;
        color:rgb(189, 4, 4);
        }

        .ConfigureCheckout .Content .Checkout .Right .Content .TemplateThree .ErrorInput:focus{
            outline: none; 
        }
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateThree .Bottom:focus{
 outline: solid 3px var(--borderLight);
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;

}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFourHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Top{
    margin:4px 0px;
    color: rgb(31, 30, 30);
    font-size: 14px;

}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Bottom{
    width: 100%;
    height: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 0.5px rgb(201, 200, 200);
     padding: 7px 10px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Bottom:focus{
        outline: solid 3px var(--borderLight);
        z-index: 100;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Other{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Other .Data1{
    width: 50%;
    height: 35px;
    border-bottom-left-radius: 5px;
    border: solid 0.5px rgb(201, 200, 200);
     padding: 7px 10px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Other .Data1:focus{
    outline: solid 3px var(--borderLight);
    z-index: 100
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Other .Data2{
    width: 50%;
    height: 35px;
    border-bottom-right-radius: 5px;
    border: solid 0.5px rgb(201, 200, 200);
     padding: 7px 10px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Other .Data2:focus{
    outline: solid 3px var(--borderLight);
    z-index: 100
}

.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFive{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFiveHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFive .Top{
    margin:4px 0px;
    color: rgb(31, 30, 30);
    font-size: 14px;

}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFive .Bottom{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin: 4px 0px;
    border: solid 0.5px rgb(201, 200, 200);
     padding: 7px 10px;
    }
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateFive .Bottom:focus{
 outline: solid 3px var(--borderLight);
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;

}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateSixHidden{
    display: none;
}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix .Top{
    margin:4px 0px;
    color: rgb(31, 30, 30);
    font-size: 14px;

}
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix .Bottom{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: solid 0.5px rgb(201, 200, 200);
        border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
     padding: 7px 10px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix .Country{
        width: 100%;
        height: 40px;
        border: solid 0.5px rgb(201, 200, 200);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 14px;
        padding: 7px 7px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix .Country:focus{
        outline: solid 3px var(--borderLight);
        z-index: 100;
        }
.ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix .Bottom:focus{
 outline: solid 3px var(--borderLight);
}

.ConfigureCheckout .Content .Checkout .Right .Content .PaymentDetails{
    color: black;
    font-size: 16px;
    font-weight: 500;
    width: 100%;

}
.ConfigureCheckout .Content .Checkout .Right .Content .PaymentDetailsHidden{
    display: none;
}

.ConfigureCheckout .Content .Checkout .Right .Content .PayButton{
    display: flex;
    justify-content: center;
    background: var(--blue-mode);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: rgb(219, 216, 216);
    margin-bottom: 35px;
    margin-top: 20px;
    cursor: pointer;
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: none;
    padding-bottom: 4px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .ShippingHidden{
    display:none;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping{
    display: flex;
    flex-direction: column;
    width: 100%;


}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .AddressLabel{
    margin:4px 0px;
    color: rgb(31, 30, 30);
    font-size: 14px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .MethodLabel{
    margin:4px 0px;
    color: rgb(31, 30, 30);
    font-size: 14px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .EnterAddressLabel{
    font-size: 12px;
    color: rgb(104, 104, 104);
    text-decoration: underline;
    margin: 4px 0px;
    cursor: pointer;
}

.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Name{
    width: 100%;
    height: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: solid 0.5px rgb(201, 200, 200);
    font-size: 14px;
    padding: 7px 10px;
    }


.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Name:focus{
 outline: solid 3px var(--borderLight);
 z-index: 100;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Country{
    width: 100%;
    height: 40px;
    border: solid 0.5px rgb(201, 200, 200);
    font-size: 14px;
    padding: 7px 7px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Country:focus{
    outline: solid 3px var(--borderLight);
    z-index: 100;
    }
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .AddressInput{
    width: 100%;
    height: 40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 0.5px rgb(201, 200, 200);
    font-size: 14px;
    padding: 7px 10px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .AddressInput:focus{
    outline: solid 3px var(--borderLight);
    z-index: 100;
   }
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 98%;
    height: 50px;
    font-size: 14px;
    color: var(--text-default);
    box-shadow: none;
    margin-top: 4px;
    margin-bottom:0px;
    padding: 2px 6px;
    border-bottom: none;
    border-top: solid 0.5px var(--placeholder);
    border-right: solid 0.5px var(--placeholder);
    border-left: solid 0.5px var(--placeholder);
    align-self: center;
    cursor: pointer;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free .Left{
    margin-top: 4px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free .Middle{
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-self: flex-start;
    margin-left: 4px;

}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free .Middle span{
    margin-left: 5px;
    font-size: 13px;
    color: black;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free .Middle p{
    margin-left: 5px;
    font-size: 12px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free .RightShipping{
    box-shadow: none;
    width: 20%;
    font-size: 13px;
    color: black;
    margin-left: 140px;
    align-self: center;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 98%;
    font-size: 12px;
    color: rgb(121, 120, 120);
    box-shadow: none;
    padding: 2px 6px;
    border-top: none;
    border-bottom: solid 0.5px var(--placeholder);
    border-right: solid 0.5px var(--placeholder);
    border-left: solid 0.5px var(--placeholder);
    align-self: center;
     cursor: pointer;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next .Left{
    margin-top: 4px;
    
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next .Middle{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-self: flex-start;
    margin-left: 4px;

}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next .Middle span{
    margin-left: 5px;
    font-size: 13px;
    color: black;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next .Middle p{
    margin-left: 5px;
    font-size: 12px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next .RightShipping{
    box-shadow: none;
    width: fit-content;
    font-size: 13px;
    color: black;
    margin-left: 180px;
    align-self: center;
}

.ConfigureCheckout .Content .Checkout .Right .Content .Checked{
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
}
.ConfigureCheckout .Content .Checkout .Right .Content .Checked span{
    margin-left: 10px;
    font-size: 14px;
}
.ConfigureCheckout .Content .Checkout .Right .Content .CheckedHidden{
    display:none;
}

.ConfigureCheckout .Content .Checkout  .LightLeft .ResponsiveLeft{
    display: none;
}

.ConfigureCheckout .Content .Checkout  .DarkLeft .ResponsiveLeft{
    display: none;
}
}

@media screen and (max-width: 765px){
    .ConfigureCheckout{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        background-color: var(--greyBackground);
    }
    
    
    .ConfigureCheckout .Content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border-radius: 10px;
        background-color: white;
      
    }

    .ConfigureCheckout .Content .ResponsiveHeader {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        font-size: 25px;
        width: 100%;
        position: fixed;
        top: 35px;
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 15px;
        height: 60px;
    }
    .ConfigureCheckout .Content .ResponsiveHeader .BrandIcon{
        background-color: rgb(51, 42, 190);
        color: white;
        font-size: 18px;
        font-weight: 600;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
    
    }
    .ConfigureCheckout .Content .ResponsiveHeader .LeftArrow{
        font-size: 15px;
        color: grey;
        width: 8px;
        position: absolute;
        top: 24px;
        left: 1px;
        z-index: 100
    }
    .ConfigureCheckout .Content .ResponsiveHeader .LeftArrow:hover{
        color: rgb(94, 92, 92);
        font-size: 18px;
        position: absolute;
        top: 22px;
        left: 0px;
        cursor: pointer;
        
    }
    
    .ConfigureCheckout .Content .ResponsiveHeader span{
        margin-left:6px;
        margin-right: 6px;
        color: black;
        font-size: 15px;
        font-weight: bold;
        width: fit-content;
    }
    .ConfigureCheckout .Content .ResponsiveHeader p{
        background-color: rgb(255, 211, 130);
        color: rgb(182, 71, 31);
        font-size: 11px;
        font-weight: bold;
        width: fit-content;
        padding: 1px 4px;
        letter-spacing: 1px;
        border-radius: 2px;
    
    }



    .ConfigureCheckout .Content .Bar{
        width: 100%;
        height: 35px;
        box-shadow: 0 0.5px 0 #e6e9ec;
        border-top-right-radius: 10px;
        background: #fcfeff;
        border-top-left-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0px;
        z-index: 100;
    }
    .ConfigureCheckout .Content .Bar .ChromeBar{
        display: flex;
        width: 1100px;
        height: 18px;
        font-weight: 600;
        font-size: 10px;
        color: #0a2540;
        justify-content: center;
        align-items: center;
    
    }
    .ConfigureCheckout .Content .Bar .ChromeBar .LockedIcon{
        color: rgb(110, 110, 116);
        
    }
    
    .ConfigureCheckout .Content .Bar .ChromeButtons{
       display:none;
    }

    .ConfigureCheckout .Content .Checkout{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .ConfigureCheckout .Content .Checkout .Right{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    
    .ConfigureCheckout .Content .Checkout .Right .Content {
        width: 300px;
        align-self: center;
        box-shadow: none;
        display: flex;
        flex-direction:column;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateOne{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background-color:black;
        color: var(--white-blue-mode);
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 4px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateTwo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateTwo .Line{
        width: 25%;
        background-color: var(--placeholder);
        height: 2px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateTwo .Middle{
        width: 40%;
        font-size: 14px;
        color: gray;
        margin:4px 0px;
        text-align: center;
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateMiddle{
        color: black;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        margin-bottom: 10px;
        
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateMiddleHidden{
        display:none;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateThree{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        width: 100%;
        
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateThree .Top{
        margin:4px 0px;
        color: rgb(31, 30, 30);
        font-size: 14px;
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateThree .Bottom{
        width: 100%;
        height: 35px;
        border-radius: 5px;
        margin: 4px 0px;
        border: solid 0.5px rgb(201, 200, 200);
         padding: 7px 10px;
        }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateThree .Bottom:focus{
     outline: solid 3px var(--borderLight);
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        width: 100%;
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFourHidden{
        display:none;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Top{
        margin:4px 0px;
        color: rgb(31, 30, 30);
        font-size: 14px;
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Bottom{
        width: 100%;
        height: 35px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: solid 0.5px rgb(201, 200, 200);
         padding: 7px 10px;
        }
        .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Bottom:focus{
            outline: solid 3px var(--borderLight);
            z-index: 100;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Other{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Other .Data1{
        width: 50%;
        height: 35px;
        border-bottom-left-radius: 5px;
        border: solid 0.5px rgb(201, 200, 200);
         padding: 7px 10px;
        }
        .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Other .Data1:focus{
        outline: solid 3px var(--borderLight);
        z-index: 100
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Other .Data2{
        width: 50%;
        height: 35px;
        border-bottom-right-radius: 5px;
        border: solid 0.5px rgb(201, 200, 200);
         padding: 7px 10px;
        }
        .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFour .Other .Data2:focus{
        outline: solid 3px var(--borderLight);
        z-index: 100
    }
    
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFive{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        width: 100%;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFiveHidden{
        display:none;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFive .Top{
        margin:4px 0px;
        color: rgb(31, 30, 30);
        font-size: 14px;
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFive .Bottom{
        width: 100%;
        height: 35px;
        border-radius: 5px;
        margin: 4px 0px;
        border: solid 0.5px rgb(201, 200, 200);
         padding: 7px 10px;
        }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateFive .Bottom:focus{
     outline: solid 3px var(--borderLight);
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        width: 100%;
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateSixHidden{
        display: none;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix .Top{
        margin:4px 0px;
        color: rgb(31, 30, 30);
        font-size: 14px;
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix .Bottom{
        width: 100%;
        height: 35px;
        border-radius: 5px;
        border: solid 0.5px rgb(201, 200, 200);
            border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
         padding: 7px 10px;
        }
        .ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix .Country{
            width: 100%;
            height: 40px;
            border: solid 0.5px rgb(201, 200, 200);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-size: 14px;
            padding: 7px 7px;
        }
        .ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix .Country:focus{
            outline: solid 3px var(--borderLight);
            z-index: 100;
            }
    .ConfigureCheckout .Content .Checkout .Right .Content .TemplateSix .Bottom:focus{
     outline: solid 3px var(--borderLight);
    }
    
    .ConfigureCheckout .Content .Checkout .Right .Content .PaymentDetails{
        color: black;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .PaymentDetailsHidden{
        display: none;
    }
    
    .ConfigureCheckout .Content .Checkout .Right .Content .PayButton{
        display: flex;
        justify-content: center;
        background: var(--blue-mode);
        width: 100%;
        height: 40px;
        border-radius: 5px;
        color: rgb(219, 216, 216);
        margin-bottom: 20px;
        margin-top: 20px;
        cursor: pointer;
        align-self: center;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        border: none;
        padding-bottom: 4px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .ShippingHidden{
        display:none;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping{
        display: flex;
        flex-direction: column;
        width: 100%;
    
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .AddressLabel{
        margin:4px 0px;
        color: rgb(31, 30, 30);
        font-size: 14px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .MethodLabel{
        margin:4px 0px;
        color: rgb(31, 30, 30);
        font-size: 14px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .EnterAddressLabel{
        font-size: 12px;
        color: rgb(104, 104, 104);
        text-decoration: underline;
        margin: 4px 0px;
        cursor: pointer;
    }
    
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Name{
        width: 100%;
        height: 40px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border: solid 0.5px rgb(201, 200, 200);
        font-size: 14px;
        padding: 7px 10px;
        }
    
    
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Name:focus{
     outline: solid 3px var(--borderLight);
     z-index: 100;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Country{
        width: 100%;
        height: 40px;
        border: solid 0.5px rgb(201, 200, 200);
        font-size: 14px;
        padding: 7px 7px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Country:focus{
        outline: solid 3px var(--borderLight);
        z-index: 100;
        }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .AddressInput{
        width: 100%;
        height: 40px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border: solid 0.5px rgb(201, 200, 200);
        font-size: 14px;
        padding: 7px 10px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .AddressInput:focus{
        outline: solid 3px var(--borderLight);
        z-index: 100;
       }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 50px;
        font-size: 14px;
        color: var(--text-default);
        box-shadow: none;
        margin-top: 4px;
        margin-bottom:0px;
        padding: 2px 6px;
        border-bottom: none;
        border-top: solid 0.5px var(--placeholder);
        border-right: solid 0.5px var(--placeholder);
        border-left: solid 0.5px var(--placeholder);
        align-self: center;
        cursor: pointer;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free .Left{
        margin-top: 4px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free .Middle{
        width: 70%;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        align-self: flex-start;
        margin-left: 4px;
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free .Middle span{
        margin-left: 5px;
        font-size: 13px;
        color: black;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free .Middle p{
        margin-left: 5px;
        font-size: 12px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Free .RightShipping{
        box-shadow: none;
        width: 20%;
        font-size: 13px;
        color: black;
        margin-left: 90px;
        align-self: center;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 98%;
        font-size: 12px;
        color: rgb(121, 120, 120);
        box-shadow: none;
        padding: 2px 6px;
        border-top: none;
        border-bottom: solid 0.5px var(--placeholder);
        border-right: solid 0.5px var(--placeholder);
        border-left: solid 0.5px var(--placeholder);
        align-self: center;
         cursor: pointer;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next .Left{
        margin-top: 4px;
        
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next .Middle{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        align-self: flex-start;
        margin-left: 4px;
    
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next .Middle span{
        margin-left: 5px;
        font-size: 13px;
        color: black;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next .Middle p{
        margin-left: 5px;
        font-size: 12px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Shipping .Next .RightShipping{
        box-shadow: none;
        width: fit-content;
        font-size: 13px;
        color: black;
        margin-left: 130px;
        align-self: center;
    }
    
    .ConfigureCheckout .Content .Checkout .Right .Content .Checked{
        margin: 10px 0px;
        display: flex;
        flex-direction: row;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .Checked span{
        margin-left: 10px;
        font-size: 14px;
    }
    .ConfigureCheckout .Content .Checkout .Right .Content .CheckedHidden{
        display:none;
    }















    .ConfigureCheckout .Content .Checkout .LightLeft{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 300px;
        background-color: white;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        padding-bottom: 20px;
    }

    .ConfigureCheckout .Content .Checkout .LightLeft .ResponsiveLeft{
        display: flex;
        justify-content: center;
        height: 140px;
        width: 100%;
        margin-top: 10px;
    }
    
    .ConfigureCheckout .Content .Checkout .LightLeft .Logo {
        display: none;
        }

    .ConfigureCheckout .Content .Checkout .LightLeft  .ResponsiveLeft .BigItems{
        display: flex;
    }
    .ConfigureCheckout .Content .Checkout .LightLeft  .ResponsiveLeft .BigItems .ImgItems{
        width: 120px;
        height: 120px;
        border-radius: 10px;
        background-color: rgb(182, 216, 216);
    }
    .ConfigureCheckout .Content .Checkout .LightLeft .Price{
        display: flex;
        flex-direction: column;
    }  
    .ConfigureCheckout .Content .Checkout .LightLeft .Price .GrayTemplate{
        display: flex;
        margin-top: 15px;
        font-size: 15px;
        color: grey;
        font-weight: 500;
        align-self: center;
    }
    .ConfigureCheckout .Content .Checkout .LightLeft .Price span{
        display: flex;
        align-self: center;
        font-size: 38px;
        margin-bottom: 25px;
        font-weight: 500;
    }
    
    .ConfigureCheckout .Content .Checkout .LightLeft .Detail{
        display: none;
    }
  
    .ConfigureCheckout .Content .Checkout .LightLeft .CouponsTop{
        display: none;
    }
    
    .ConfigureCheckout .Content .Checkout .LightLeft .CouponsTopHidden{
        display:none;
    }

    .ConfigureCheckout .Content .Checkout .LightLeft .CouponsBottom{
       display: none;
    }
    
    .ConfigureCheckout .Content .Checkout .LightLeft .CouponsBottomHidden{
        display:none;
    }

    .ConfigureCheckout .Content .Checkout .LightLeft .CouponsButton{
       display: none;
    }
    
    .ConfigureCheckout .Content .Checkout .LightLeft  .CouponsButtonHidden{
        display:none;
    }

    .ConfigureCheckout .Content .Checkout .LightLeft .Shipping{
        display: none; 
    }
    .ConfigureCheckout .Content .Checkout .LightLeft .ShippingHidden{
        display:none;
    }

    .ConfigureCheckout .Content .Checkout .LightLeft .Footer{
        display:none;
    }

    .ConfigureCheckout .Content .ResponsiveFooter{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 300px;
        height: 100px;
        color: var(--placeholder);
        font-size: 12px;
        align-items: center;
        margin-top: 20px;
        color: grey;
        justify-content: center;
        cursor: pointer;
    }
    .ConfigureCheckout .Content .ResponsiveFooter .TopResponsiveFooter{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        padding-bottom: 10px;
       
    }

    .ConfigureCheckout .Content .ResponsiveFooter .BottomResponsiveFooter{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
       
    }
    .ConfigureCheckout .Content .ResponsiveFooter .Stripe{
        display: flex;
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
        color:rgb(165, 164, 163)
    }
}